@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
body {
  /* Default: 15px */
  font-size: 0.9375em;
  font-family: "Spartan", sans-serif;
  background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  background-position: top left, bottom right;
  min-height: 100vh;
  padding: 2.5em 1.5em;
  margin: 0;
}

*, * * {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

main {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.intro {
  text-align: center;
}
.intro h1 {
  font-size: 2em;
  font-weight: 700;
  color: #502050;
}
.intro p {
  color: #937b92;
  font-weight: 500;
  line-height: 1.6em;
  margin-bottom: 2em;
}

.ratings ul {
  margin: 0;
}
.ratings li {
  display: block;
  border-radius: 8px;
  background-color: #f7f2f7;
  padding: 1em;
}
.ratings li:not(:last-child) {
  margin-bottom: 1em;
}
.ratings span {
  display: block;
}
.ratings span.ratings__stars > * {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.ratings span.ratings__label {
  padding-top: 1em;
  color: #502050;
  font-weight: bold;
  font-size: 0.9em;
}

.testimonials li {
  background-color: #502050;
  border-radius: 8px;
  padding: 2.5em 2em;
  margin-bottom: 1em;
}
.testimonials blockquote {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}
.testimonials blockquote p {
  color: #f7f2f7;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 0;
}
.testimonials blockquote footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.testimonials blockquote footer img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-grow: 0;
}
.testimonials blockquote footer div {
  flex-grow: 1;
  padding: 0 1.5em;
}
.testimonials blockquote .author, .testimonials blockquote .badge {
  display: block;
  font-size: 0.9em;
  line-height: 1.5em;
}
.testimonials blockquote .author {
  color: #f7f2f7;
  font-weight: bold;
}
.testimonials blockquote .badge {
  color: #ee68a4;
}

body > footer {
  text-align: center;
  padding: 0.5em;
  font-size: 0.8em;
}

@media (min-width: 900px) {
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 60%;
    background-position: top left, bottom right;
    padding: 0;
  }

  main {
    max-width: unset;
    width: min(80vw, 1220px);
    min-height: 100vh;
    padding: 1em;
  }

  .intro {
    text-align: start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .intro div:not(.ratings) {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .intro .ratings {
    width: 60%;
    flex-grow: 1;
  }
  .intro h1 {
    font-size: 3em;
  }

  .ratings {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ratings ul {
    width: auto;
    margin: 0 auto;
  }
  .ratings li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.5em;
    padding: 0.8em 2em;
  }
  .ratings li:nth-child(2) {
    transform: translateX(2em);
  }
  .ratings li:nth-child(3) {
    transform: translateX(4em);
  }
  .ratings span.ratings__stars, .ratings span.ratings__label {
    display: inline-block;
    padding: 0;
    white-space: nowrap;
  }

  .testimonials {
    padding-bottom: 4em;
  }
  .testimonials ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.5em;
  }
  .testimonials li:nth-child(2) {
    transform: translateY(2em);
  }
  .testimonials li:nth-child(3) {
    transform: translateY(4em);
  }
}

/*# sourceMappingURL=style.css.map */
