@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

// Primary
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// Neutral
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);

body {
    /* Default: 15px */
    font-size: 0.9375em;
    font-family: 'Spartan', sans-serif;

    background: {
        image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
        repeat: no-repeat, no-repeat;
        size: 100%, 100%;
        position: top left, bottom right;
    }

    min-height: 100vh;
    padding: 2.5em 1.5em;
    margin: 0;
}
*, * * {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

main {
    max-width: 500px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.intro {
    text-align: center;

    h1 {
        font: {
            size: 2em;
            weight: 700;
        }
        color: $very-dark-magenta;
    }
    p {
        color: $dark-grayish-magenta;
        font-weight: 500;
        line-height: 1.6em;
        margin-bottom: 2em;
    }
}

.ratings {
    ul {
        margin: 0;
    }

    li {
        display: block;
        border-radius: 8px;
        background-color: $light-grayish-magenta;
        padding: 1em;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    span {
        display: block;

        &.ratings__stars > * {
            padding: {
                left: 0.2em;
                right: 0.2em;
            }
        }

        &.ratings__label {
            padding-top: 1em;
            color: $very-dark-magenta;
            font: {
                weight: bold;
                size: 0.9em;
            }
        }
    }
}

.testimonials {
    li {
        background-color: $very-dark-magenta;
        border-radius: 8px;
        padding: 2.5em 2em;
        margin-bottom: 1em;
    }

    blockquote {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1em;
        flex: {
            direction: column-reverse;
            wrap: nowrap;
        }

        p {
            color: $light-grayish-magenta;
            font-size: 0.9em;
            line-height: 1.5em;
            margin-bottom: 0;
        }

        footer {
            display: flex;
            flex: {
                direction: row;
                wrap: nowrap;
            }
            align-items: center;

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                flex-grow: 0;
            }

            div {
                flex-grow: 1;
                padding: 0 1.5em;
            }
        }

        .author, .badge {
            display: block;
            font-size: 0.9em;
            line-height: 1.5em;
        }

        .author {
            color: $light-grayish-magenta;
            font-weight: bold;
        }

        .badge {
            color: $soft-pink;
        }
    }
}

body > footer {
    text-align: center;
    padding: 0.5em;
    font-size: 0.8em;
}

@media (min-width: 900px) {
    body {
        background: {
            image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
            repeat: no-repeat, no-repeat;
            size: 40%, 60%;
            position: top left, bottom right;
        }

        padding: 0;
    }

    main {
        max-width: unset;
        width: min(80vw, 1220px);
        min-height: 100vh;
        padding: 1em;
    }

    .intro {
        text-align: start;
        display: flex;
        flex: {
            direction: row;
            wrap: nowrap;
        }
        
        div:not(.ratings) {
            width: 40%;
            flex-grow: 0;
            flex-shrink: 1;
        }

        .ratings {
            width: 60%;
            flex-grow: 1;
        }

        h1 {
            font-size: 3em;
        }
    }

    .ratings {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            width: auto;
            margin: 0 auto;
        }

        li {
            display: flex;
            flex: {
                direction: row;
                wrap: nowrap;
            }
            align-items: center;
            gap: 1.5em;
            padding: 0.8em 2em;

            &:nth-child(2) {
                transform: translateX(2em);
            }

            &:nth-child(3) {
                transform: translateX(4em);
            }
        }

        span {
            &.ratings__stars, &.ratings__label {
                display: inline-block;
                padding: 0;
                white-space: nowrap;
            }
        }
    }

    .testimonials {
        padding-bottom: 4em;

        ul {
            display: flex;
            flex: {
                direction: row;
                wrap: nowrap;
            }
            gap: 1.5em;
        }

        li {
            &:nth-child(2) {
                transform: translateY(2em);
            }

            &:nth-child(3) {
                transform: translateY(4em);
            }
        }
    }
}